<!DOCTYPE html>
<html>

<head>
  <title>Wordle</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale =0 user-scalable=no">
  <link rel="stylesheet" href="static/wordle.css">
</head>
<script>
  window.onload = function() { 
    var elements = document.getElementsByTagName('input')
    for (let element of elements) {
      element.addEventListener('focus', function (event)  {
        var id = event.target.id // sets id as the element which triggered event
        var cell = document.getElementById(id);
        cell.value=""; //sets the cell to nothing when focused for efficiency
        cell.addEventListener('keyup', function eventHandler(event) { //when a key has been inputed it will then move to the next cell
          var id = event.target.id
          var row = parseInt(id.substr(1,1)) //gets the row and col values out of the id
          var col = parseInt(id.substr(3,1)) 
          col++
          if (col < 6) { // when the row has come to the end it will then set focus to the next table id
            var nextId = 'r'+row+'c'+col
            var nextCell = document.getElementById(nextId);
            nextCell.focus()
          }
        }, {once: true}); // makes sure that the keyup event only fires once
      })
    } 
    var ans = document.getElementById('answer')
    if (ans.innerHTML === "") {
      var table = document.getElementById("tab");
      var lastRow = table.rows.length;
      document.getElementById('r'+lastRow+'c1').focus(); // sets focus to the 1st of the row each submit
    }
  }
</script>
<body>
  <h1 id="title">WORDLE</h1>
  <div id="board">
    <form id="main" method="post">
      <div>
        <table id="tab">
          {% for row in data %}
          {% set r = loop.index %}
          <tr id="{{loop.index}}">
            {% for key, value in row.items() %}
            {% set c = loop.index %}
            <td id="td_r{{r}}c{{c}}">
              <input class="{{value[1]}}" type="text" id="r{{r}}c{{c}}" name="r{{r}}c{{c}}" value="{{value[0]}}"
                maxlength="1" minlength="1" size="1" pattern="[A-Za-z]{1}"
                style="text-transform: uppercase;text-align: center; vertical-align: middle;">
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <div>
        <input type="submit" value="Continue" />
      </div>
    </form>
  </div>
  <br>
  <h1 id="answer">{{answer}}</h1>
</body>

</html>